.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: calc(100vh * (100 / 930));
  background: linear-gradient(
    to bottom,
    #646464 30%,
    #ffffff88 50%,
    #646464 70%
  );
  font-family: "Audiowide";
}
.ul {
  display: flex;
}

.li {
  padding: 10px;
  list-style: none;
}
.link {
  color: #ffffff;
  text-shadow: -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
  font-size: 20px;
  cursor: pointer;
}
.link:hover {
  text-shadow: 3px -1px 1px black, 1px 1px black, 1px 1px black, 1px -1px black;
}
